*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: lightsteelblue;
}

html, body {
    height: 100%;
}

header {
    color: #fff;
    background-color: lightslategrey;
    border-color: #454d55;
}

header {
    display: flex;
    color: white;
    background-color: lightslategrey;
    padding: 1%;
    line-height: 100px;
}

h1 {
    flex-basis: 100%;
    min-height: 100px;
    background-color: lightslategrey;
    color: honeydew;
    font-size: xx-large;
}

.weather-container {
    box-sizing: border-box;
}

.box {
    flex-direction: column;
    border: 5px solid black;
    min-height: 200px;
    max-height: 300px;
    font-size: 0.9rem;
    object-fit: fill;
    width: 575px;
}

#fact-generator-container {
    text-align: center;
    align-content: center;
    line-height: 35px;
}

#weather-container {
    text-align: center;
    align-content: center;
    line-height: 40px;
}

.text-center {
    font-size: xx-large;
}

@media screen and (max-width: 768px) {
    .work {
      flex-direction: column;
    }
  }